<%- include('../partials/head') %>

<h1>Hello world!</h1>

<!-- Add images like the following to automatically include webp images as an option. -->
<!-- <%- include('../partials/image-png', { name: 'img', alt: 'test' }) %>  -->


<%- include('../partials/tail') %>
